body {
  font-family: Arial, sans-serif;
  background: #0F172A;
  color: white;
  margin: 0;
  text-align: center;
}

header, h1 {
  margin-top: 40px;
}

button {
  background: #00F5A0;
  border: none;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #00c97a;
}

input {
  padding: 12px;
  width: 250px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

form {
  margin-top: 40px;
}

#total {
  font-size: 18px;
  color: #00F5A0;
  font-weight: bold;
}

img {
  border-radius: 8px;
  margin-top: 10px;
}